* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
  font-size: 100%;
}

#left {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  width: 340px;
  /*background-color:blue;*/
}

#right {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 380px;
  /*background-color:red;*/
  overflow: auto;
  padding: 20px;
}

#urlinput {
  padding: 10px;
  width: 300px;
  height: 1em;
  resize: none;
  overflow:hidden;
  outline: none;
  border: 2px solid #EEE;
  color: #333;
  font-size: 1.125em;
}

#input {
  padding: 10px;
  width: 300px;
  height: 450px;
  resize: none;
  outline: none;
  border: 2px solid #EEE;
  color: #333;
  font-size: 1.125em;
}

img#loader {
  display:none;
}

pre#alert-box {
  font-size:1.2em;
}

span.key {
  color: red;
}

span.value {
  color: blue;
}

span.bracket, span.comma, span.colon {
  color: black;
  font-weight: bold;
}

span.bracket:hover {
  cursor:pointer;
}

span.elipsis {
  color:green;
}

#d_clip_container {
  position:relative;
  float: left;
}

#d_clip_container embed:focus {
  outline: none;
}

#d_clip_button {
  width: 14px;
  height: 14px;
  background: url('assets/button_up.png') no-repeat left center;
}

#d_clip_button.hover {
  background: url('assets/button_over.png') no-repeat left center;
}
#d_clip_button.active {
  background: url('assets/button_down.png') no-repeat left center;
}

#label {
  font-size: 0.8em;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  position: relative;
  float: left;
  padding-left: 10px;
  clear: right;
  visibility: hidden;
}

#clear {
  position: relative;
  clear: both;
  margin-bottom: 10px;
}
