* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

#url {
  width: 100%;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid #dedede;
  font-size: 1.3em;
  height: 70px;
}

[aria-busy=true]:before {
  position: absolute;
  right: 0;
  padding: 20px;
  content: " ";
  background: url(ajax-loader.gif);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  width: 30px;
  height: 30px;
  display: block;
}

[aria-busy=false]:before {
  display: none;
}

[aria-busy=error] #url {
  color: red;
}

#left {
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 0px;
  border: none;
  border-right: 1px solid #dedede;
  width: 35%;
}

#json {
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px 0 0 20px;
  display: block;
}

#json.error {
  color: red;
}

::-webkit-input-placeholder {
  font-size: 24px;
}

:-moz-placeholder {
  font-size: 24px;
}

::-moz-placeholder {
  font-size: 24px;
}

:-ms-input-placeholder {
  font-size: 24px;
}

section {
  position: relative;
  left: 35%;
  margin-top: 50px;
  margin-left: 5%;
  width: 55%;
}

section p {
  margin-bottom: 30px;
}

#right {
  position: absolute;
  top: 70px;
  right: 0px;
  bottom: 0px;
  left: 35%;
  overflow: auto;
  padding: 20px;
}

span.key {
  color: red;
}

span.value {
  color: blue;
}

span.bracket, span.comma, span.colon {
  color: black;
  font-weight: bold;
}

span.bracket:hover {
  cursor:pointer;
}

span.elipsis {
  color:green;
}

#label {
  height: 14px;
  line-height: 14px;
  position: relative;
  float: left;
  padding-left: 10px;
  clear: right;
  visibility: hidden;
}
